/*=================== GLOBAL STYLES ========================*/

@import url(https://fonts.googleapis.com/css?family=Bitter|PT+Sans+Narrow|Dosis);

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

body {
    background-color:#F1F1F1;
    /*font-family:'Source Sans Pro', Trebuchet MS, sans-serif;*/
    /*font-family: 'Bitter', serif;*/
    font-family: 'PT Sans Narrow', sans-serif;
    /*font-family: 'Dosis', sans-serif;*/
    font-size:16px;
    font-weight:700;
    color:#000000 !important;
}

body {
    color:#FFFFFF;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#0066ff; /* THIS COLOR IS BLUE */
    
}

p {
    line-height:125%;
    margin:15px 0px;
}

b, strong {
    color:#0066ff;
}

a {
    color:#0066ff;
    text-decoration:none;
    transition:background 0.4s linear 0s, color 0.4s linear 0s;
    font-family: 'Dosis', sans-serif
}

a:hover {
    color:#66ccff;
}

.mainBody {
    overflow:hidden;
    margin:0px auto;
    width:1200px;
    
}

/*====================== HEADER STYLES =======================*/

header {
    background-color:#FFFFFF;
}

#headerBlock {
    padding:20px 0px;
}

#logo a {
    color:#66ccff;
    transition:background 0.4s linear 0s, color 0.4s linear 0s;
}

#logo a:hover {
    color:#0066ff;
}

/*-----------MENU NAVIGATION ------------*/

#menu {
    position:absolute;
    top:20px;
    right:20px;
}

#menu ul {
    display:inline-block;
}

#menu ul li {
    display:block;
    float:left;
    text-align:center;
    margin:0px 10px;
}

.currentPage {
    color:#66ccff;
}



/*
BANNER STYLES BY ROGER AND DAMON 12.9.2015
*/

#banner {
    overflow:hidden;
    padding:80px 0px;
    border-top:3px solid #0066ff;
    background-size:cover;
    background:url(../images/our_group.JPG) no-repeat center center #66ccff;
}

.bannerText {
    color:#FFFFFF;
    font-size:8em;
    text-align:center;
    text-shadow:7px 7px 10px #000000;
}

/*MAIN SECTION STYLES | INCLUDING COLUMNS*/

.columnA, .columnB, .columnC {
    width:384px;
}

.columnA, .columnB {
    float:left;
    margin-right:24px;
}

.columnC {
    float:left;
}

.columnA h2, .columnB h2, .columnC h2 {
    font-size:3em;
    font-weight:700;
    text-align:center;
    line-height:1em;
    margin:15px 0px;
}

.columnA p, .columnB p, .columnC p {
    padding:0px;
    text-align:justify;
}

.column span {
    background-color:#0066ff;
    color:#FFFFFF;
    display:block;
    font-size:1.5em;
    font-weight:600;
    margin:0px 0px 15px 0px;
    padding:15px;
    text-align:center;
    text-transform:uppercase;
}



/*STANDARD STYLES*/


/*BUTTON STYLES*/

.button {
    display:inline-block;
    padding:10px 18px;
    background-color:#0066ff;
    text-transform:uppercase;
    font-weight:800;
    font-size:1.2em;
    color:#FFFFFF;
    border-radius:4px;
    margin:10px 0px;
    transition:background 0.4s linear 0s, color 0.4s linear 0s;
}

.button:hover {
    background-color:#66ccff;
    color:#FFFFFF;
}

div.center {
    text-align:center;
}

/*ABOUT ME STYLES SECTION*/

#aboutME {
    margin:25px 0px;
}

.aside-home-left {
    width:384px;
    float:left;
    margin-right:24px;
}

.article-home-right p {
    text-align:justify;
}

/*FOOTER SECTION | FOOTER STYLES*/

#copyright {
    overflow:hidden;
    padding:30px 0px;
    border-top:3px solid #0066ff;
    background-color:#66ccff;
    display:block;
    text-align:center;
}

/*SOCIAL MEDIA STYLES*/

.fa {
    background-color:rgb(102, 204, 255);
    border:4px solid #FFFFFF;
    border-radius:100%;
    font-size:2em !important;
    margin:15px;
    padding:10px;
    color:#FFFFFF;
    height:28px;
    width:28px;
    transition:background 0.4s linear 0s, color 0.4s linear 0s;
}

.fa:hover {
    background-color:#66ccff;
}

.fa-facebook {background-color:#0066ff;}
.fa-twitter {background-color:#0066ff;}
.fa-instagram {background-color:#0066ff;}

